/*---mainprintdocumentstyle---*/

body{
text-align:left;
margin-left:0.2cm;
margin-right:0.2cm;
margin-top:0.2cm;
background-color:white;
font-family:Verdana,Courier,Verdana,Courier,Monospace;
color:#000000
}

div.plain{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}
div.small{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000;
font-size:smaller
}

em{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#111111;
font-style:normal
}

a{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#222222
}

th{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#111111;
font-weight:normal
}

th.dasht{
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#111111
}
td.dashtr{
border-top:1pt dashed #000000;
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}
td.dashtt{
border-top:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}
td.dasht{
border-top:1pt dashed #000000;
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}

th.edasht{
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#111111
}
td.edashtr{
border-top:1pt dashed #000000;
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}
td.edashtt{
border-top:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}
td.edasht{
border-top:1pt dashed #000000;
border-right:1pt dashed #000000;
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000
}

table.dasht, table.sortable { 
border:1pt dashed #000000;
font-size:smaller
}

table.doublet{
border:3pt double #000000
}


.bigtext{
font-size:500%
}
.medtext{
font-size:250%
}
.slidetext{
font-size:150%;
line-height:120%
}
.smallertext{
font-size:80%
}

a.slide{
font-family:Verdana,Courier,Monospace;
background-color:white;
color:#000000;
text-decoration:none
}

.editfiled{
color:#000000;
background-color:#FFFFFF;
text-decoration:none;
font-family:Verdana,Courier,Monospace;
border:1pt solid #004000
}

a.editfield{
	color:#000000;
	background-color:#FFFFFF;
	text-decoration:none;
	font-family:Verdana,Courier,Monospace;
	font-size:smaller;
}
